*{
    font-family: georgia, Helvetica, sans-serif;
    font-size: 32px;
}

.title-container{
    text-align: center;
}

body{
    margin: 0;
    height: 100vh;
    background-color: rgb(28, 2, 43);

}
/*animação de queda*/
@keyframes fall{
    from{
        opacity: 0;
        transform: translateY(-100);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*aplica a animação no titulo */
header h1:first-child{
    animation: fall 1.5s ease forwards;
}

header h2:last-child{
    animation: fall 3.8s ease forwards;
    animation-delay: 1.2; /* começa um pouco depois */
}
.profile-pic{
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
border: 3px solid white;

}